*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  /* background-color: #000; */
}

.container {
  /* width: 80%; */
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* BUTTON */
.btn-gradient {
  padding: 20px 35px;
  border-radius: 30px;
  border: 1px solid transparent;

  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;

  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  transition: all 0.5s;
  cursor: pointer;
}
.btn-gradient:hover {
  background-position: right center;
}
/* TITLE */
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  text-transform: capitalize;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
  text-transform: capitalize;
}

/* START HEADER */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_content nav {
  display: flex;
  align-items: center;
}
.header_content nav ul {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header_content li {
  padding: 55px 15px;
}
.header_content li a {
  color: #070120;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.header_content li a span {
  display: inline-block;
}
.header_content li:hover a {
  color: #f55f8d;
}
.header_content li:hover span {
  animation: upToDown 0.3s;
}
.header_content i {
  font-size: 9px;
  vertical-align: middle;
  margin-top: -5px;
}
/* END HEADER */

/* START CAROUSEL */
.carousel {
  background-image: url(../img/pic2.png);
  padding-top: 180px;
  background-size: 100%;
}
.carousel_content {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.carousel_left {
  width: 60%;
  margin: 50px 0;
}
.carousel_article {
  font-size: 20px;
  line-height: 24px;
}
.carousel_article li {
  margin: 24px 0;
}
.carousel_article li i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;

  text-align: center;

  font-size: 24px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.carousel_article li span {
  margin-left: 10px;
}
.carousel_right {
  width: 40%;
}
.carousel_banner img {
  padding-left: 50px;
}
/* END CAROUSEL */

/* START SERVICES */
.services {
  padding-top: 100px;
  text-align: center;
  background-image: url(../img/bg2.png);
  background-position: top center;
  background-size: cover;
}
.services_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.services_item {
  background-color: white;
  padding: 30px 45px;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);

  transform: translateY(0);
  transition: all 0.5s;
}
.services_item:hover {
  transform: translateY(-20px);
}
.services_item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
  text-transform: capitalize;
}
.services_item img {
  width: 200px;
}
/* END SERVICES */

/* START ABOUT */
.about {
  padding: 100px 0 80px;
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
}
.about_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about_left {
  width: 60%;
  position: absolute;
  left: -20%;
}
.about_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about_right {
  width: 50%;
}
.about_article ul {
  margin-bottom: 30px;
}
.about_article p {
  margin: 20px 0;
}
.about_right .about_article ul i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
/* END ABOUT */

/* START NUMBER */
.number {
  padding: 80px 50px;
  background-image: url(../img/bg14.png);
  background-position: center;
  text-align: center;
}
.number_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number_item {
  width: 25%;
}
.number_item i {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;

  font-size: 50px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.number_item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;

  margin: 16px 0 8px;
}
.number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* END NUMBER */

/* START FEATURE */
.feature {
  padding-top: 100px;

  background-image: url(../img/bg2.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.feature_content {
  display: flex;
}
.feature_left,
.feature_right {
  width: 50%;
}

.feature_bg {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 60px rgb(0 0 0 / 10%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  transition: all 1s;
}

.feature_bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  opacity: 0;
  transition: all 1s;
}

.feature_bg:hover::after {
  opacity: 1;
}
.feature_item:nth-child(2) {
  padding: 0 0 30px 50px;
}
.feature_item {
  padding: 0 50px 30px 0;
}

.feature_item i {
  color: #f55f8d;
  font-size: 80px;
  transition: all 1s;
  z-index: 1;
}
.feature_item div {
  padding-left: 25px;
  z-index: 100;
  transition: all 1s;
}
.feature_item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}

.feature_bg:hover div,
.feature_bg:hover h3,
.feature_bg:hover i {
  color: #fff;
}
.feature_banner {
  margin-right: -100px;
}
.feature_banner img {
  width: 100%;
  animation-name: move2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* END FEATURE */

/* START PORTFOLIO */
.portfolio {
  padding-top: 100px;
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
}
.portfolio_content {
  width: 100%;
  /* aspect-ratio: 1 / 1; */
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 30px;
}
.portfolio_item {
  /* background: #070120;
  border: solid red; */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio_item1 {
  grid-column: 1 / span 2;
  /* border: solid green; */
}
.portfolio_item5 {
  grid-column: 1 / 3;
}
.portfolio_item6 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
  /* border: solid blue; */
}
.portfolio_item img {
  width: 100%;
  height: 100%;
}

/* OVERLAY */
.portfolio_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.75s;
}
.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}

/* LIGHT EFFECT */
.portfolio_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio_item:hover::before {
  left: 125%;
}

/* ICON */
.portfolio_icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;

  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio_item:hover .portfolio_icon i {
  transform: translateY(0);
}

/* TEXT */
.portfolio_text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio_item:hover .portfolio_text {
  transform: translateY(0);
}
.portfolio_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.portfolio_text p {
  color: #fff;
  opacity: 0.7;
}
/* END PORTFOLIO */

/* START PLAN */
.plan {
  padding-top: 100px;
  text-align: center;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
}
.plan_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 20px;
}
.plan_item {
  text-align: center;

  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;

  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan_item:hover {
  border-image: url(../img/br.png) 1 round;
}

.plan_item img {
  width: 120px;
}
.plan_item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan_item ul {
  text-align: left;
  margin: 16px 0;
  border-top: 1px solid rgba(99, 99, 99, 0.2);
}
.plan_item li {
  font-size: 18px;
  color: #262626;
  line-height: 30px;
  margin: 8px 60px 0 0;
}
.plan_item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan_item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan_item i {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 1px solid;
  border-radius: 50%;

  font-size: 12px;
  text-align: center;

  background-color: #feeff3;
  color: #f55f8d;
  margin-right: 16px;
}
/* END PLAN */

/*MY TESTIMONIAL */

.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* max-height: 1000px; */
  padding-top: 100px;
}

.testimonial_thumbs {
  max-width: 300px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
/* LIGHT EFFECT */
.testimonial_thumbs::before,
.testimonial_thumbs::after {
  content: "";
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 200;
}
.testimonial_thumbs::before {
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
  left: 0;
}
.testimonial_thumbs::after {
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.testimonial_thumbs .testimonial_pic {
  padding: 40px 0 0;
  transition: all 0.5s;
}
.testimonial_thumbs .swiper-slide-thumb-active .testimonial_pic {
  padding: 0 0 40px;
}

.testimonial_thumbs .testimonial_pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 4;
  background-color: #f55f8d;
}
.testimonial_pic .shape-bx {
  position: relative;
  height: 40px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.testimonial_pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: 100%;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.swiper-slide-thumb-active .testimonial_pic .shape-bx {
  opacity: 1;
}

.testimonial_pic::before,
.testimonial_pic::after {
  content: "";
  background-color: #f55f8d;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial_pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial_pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.swiper-slide-thumb-active .testimonial_pic::after,
.swiper-slide-thumb-active .testimonial_pic::before {
  opacity: 1;
}

.testimonial_comment {
  width: 100%;
  overflow: hidden;
  padding-bottom: 6px;
}

.testimonial_text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 10px rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  width: 770px;
  position: relative;
}
.testimonial_text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial_text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial_name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial_position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  margin-top: 20px;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

/* START BLOGS */
.blog {
  padding: 100px 0 60px;
  text-align: center;

  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
}
.blog_item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
/* HEADER */
.blog_header {
  position: relative;
}
.blog_header img {
  border-radius: 10px;
}
.blog_header p {
  text-align: center;
  width: 150px;
  border-radius: 10px;
  padding: 10px 20px;

  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  position: absolute;
  left: 15px;
  bottom: -20px;
}

/* BODY */
.blog_body {
  padding: 20px 15px 40px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}
.blog_body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

/* FOOTER */
.blog_footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: middle;
  margin-right: 3px;
}
.blog_footer p {
  margin-right: 20px;
}
.blog_footer p:first-of-type span {
  color: #f55f8d;
}
/* END BLOGS */

/* START FOOTER */
footer {
  padding-top: 100px;

  background-color: #0e1b1f;
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);

  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.footer_content {
  color: #fff;
  position: relative;
}
/* TOP */
.footer_top {
  width: 100%;
  display: flex;
  padding: 50px 60px;
  background-color: #fff;

  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;

  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);

  position: relative;
  top: -100px;
}
.footer_text,
.footer_form {
  width: 50%;
}
.footer_text h2 {
  font-size: 28px;
  color: #262626;
}
.footer_form form {
  display: flex;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
}
.footer_form input {
  /* flex: 1 1 auto; */
  flex-grow: 1;
  padding: 20px;

  font-size: 15px;
  font-weight: 400;
  color: #888;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
  outline: none;
  transition: all 0.5s;
}
.footer_form input:hover,
.footer_form input:focus {
  border-color: #f55f8d;
}

.footer_form button {
  padding: 20px 35px;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

/* BOTTOM */
.footer_bottom {
  padding: 20px 0;
  display: flex;
  position: relative;
  top: -50px;
}
.footer_item {
  width: 25%;
  font-size: 15px;
}

.footer_contact li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.footer_contact i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;

  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.footer_contact li a {
  color: white;
  text-transform: none;
}
.footer_item i {
  margin-right: 10px;
}
.footer_item h3 {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  text-transform: capitalize;
}
.footer_item h3::before,
.footer_item h3::after {
  content: "";
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  bottom: 0;
}
.footer_item h3::before {
  width: 18px;
  height: 4px;
}
.footer_item h3::after {
  width: 45px;
  height: 4px;
  left: 24px;
}
.footer_item a {
  color: #636363;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s;
}
.footer_item a:hover {
  color: white;
}
.footer_item li {
  padding: 10px 0;
}

/* COPYRIGHT */
.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.copyright_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* LEFT */
.copyright_left p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.copyright_left span {
  color: #f55f8d;
}
/* RIGHT */
.copyright_right a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;

  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: all 0.5s;
}
.copyright_right a i:hover {
  background-color: #f55f8d;
}
/* END FOOTER */
/* BACK-TO-TOP */
.backtotop {
  position: fixed;
  bottom: 15;
  right: 15;

  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;

  font-size: 16px;
  color: #fff;
  background-color: #f55f8d;
  box-shadow: 0px 2px 20px 0 #f55f8d;

  visibility: hidden;
  opacity: 0;
}
.backtotop i {
  line-height: 50px;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* ANIMATION */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
